*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Roboto', sans-serif;
    background-color: #fddebb; 
    
}

.titulo h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #9e6700;
    font-size: 24px;
}

.texto h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #1b1100;
    font-size: 20px;
}

form {
    margin-top: 20px;
}

button {
    background-color: #ffffff;
    color: #000000; 
    border: 2px solid #ac5107; 
    border-radius: 5px; 
    font-size: 16px; 
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

button:hover {
    background-color: #ac5107;
    color: #000000;
}

#container input {
    width: 65%;
    display: flex;
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ccc;
    padding: 5px 5px;
    border-radius: 5px;
    margin: 2px;
}